*{
    margin: 0;
    padding: 0;

}


body {
    background-image: url(../img/blue-pattern.jpg);
    height: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.space {
   margin-bottom: 2.5em;
}

#text{
    visibility: hidden;
    font-size: 2em;
    font-weight: 1000;
    width: 1080px;
}

#text1 {
    visibility: hidden;
    font-size: 2em;
    font-weight: 1000;
    width: 200px;
}
#text2 {
    visibility: hidden;
    font-size: 2em;
    font-weight: 1000;
    width: 200px;
}
#text3 {
    visibility: hidden;
    font-size: 2em;
    font-weight: 1000;
    width: 200px;
}

.imgload {
    width: 90vh;
}

.animated-text .imglogo {
    width: 40vh;
}

.colTeam1{
    border: red solid 1px;

    
}

.team1{
    border: red solid 1px;
    text-align: center;

}

.input1{
    border: red solid 1px;
    justify-content: center;
    display: flex;
}

.inputBox1{
    border: red solid 1px;
    height: 3rem;
    display: flex;
}

.input2{
    border: red solid 1px;
    justify-content: center;
    display: flex;
    
}

.inputBox2{
    border: red solid 1px;
    height: 3rem;
    display: flex;
    
}

.team1Letter{
    width:50px;
    text-align: center;
    font-weight: bold;
    margin-right: 8px;
}
.team2Letter{
    width:50px;
    text-align: center;
    font-weight: bold;
    margin-right: 8px;
}

.team1guess1-1,
.team1guess1-2,
.team1guess1-3,
.team1guess1-4,
.team1guess1-5 {
    display: inline-block;
    margin-right: 10px; /* Adjust the margin as needed */
    margin-bottom: 10px;
    height:50px;
    width: 50px;
    background-color: white;
    border: black 2px solid;
}

.team1guess2-1,
.team1guess2-2,
.team1guess2-3,
.team1guess2-4,
.team1guess2-5 {
    display: inline-block;
    margin-right: 10px; /* Adjust the margin as needed */
    margin-bottom: 10px;
    height:50px;
    width: 50px;
    background-color: white;
    border: black 2px solid;
}

.team1guess3-1,
.team1guess3-2,
.team1guess3-3,
.team1guess3-4,
.team1guess3-5 {
    display: inline-block;
    margin-right: 10px; /* Adjust the margin as needed */
    margin-bottom: 10px;
    height:50px;
    width: 50px;
    background-color: white;
    border: black 2px solid;
}

.team1guess4-1,
.team1guess4-2,
.team1guess4-3,
.team1guess4-4,
.team1guess4-5 {
    display: inline-block;
    margin-right: 10px; /* Adjust the margin as needed */
    margin-bottom: 10px;
    height:50px;
    width: 50px;
    background-color: white;
    border: black 2px solid;
}

.team1guess5-1,
.team1guess5-2,
.team1guess5-3,
.team1guess5-4,
.team1guess5-5 {
    display: inline-block;
    margin-right: 10px; /* Adjust the margin as needed */
    margin-bottom: 10px;
    height:50px;
    width: 50px;
    background-color: white;
    border: black 2px solid;
}

.team1guess6-1,
.team1guess6-2,
.team1guess6-3,
.team1guess6-4,
.team1guess6-5 {
    display: inline-block;
    margin-right: 10px; /* Adjust the margin as needed */
    margin-bottom: 10px;
    height:50px;
    width: 50px;
    background-color: white;
    border: black 2px solid;
}

.team2guess1-1,
.team2guess1-2,
.team2guess1-3,
.team2guess1-4,
.team2guess1-5 {
    display: inline-block;
    margin-right: 10px; /* Adjust the margin as needed */
    margin-bottom: 10px;
    height:50px;
    width: 50px;
    background-color: white;
    border: black 2px solid;
}

.team2guess2-1,
.team2guess2-2,
.team2guess2-3,
.team2guess2-4,
.team2guess2-5 {
    display: inline-block;
    margin-right: 10px; /* Adjust the margin as needed */
    margin-bottom: 10px;
    height:50px;
    width: 50px;
    background-color: white;
    border: black 2px solid;
}

.team2guess3-1,
.team2guess3-2,
.team2guess3-3,
.team2guess3-4,
.team2guess3-5 {
    display: inline-block;
    margin-right: 10px; /* Adjust the margin as needed */
    margin-bottom: 10px;
    height:50px;
    width: 50px;
    background-color: white;
    border: black 2px solid;
}

.team2guess4-1,
.team2guess4-2,
.team2guess4-3,
.team2guess4-4,
.team2guess4-5 {
    display: inline-block;
    margin-right: 10px; /* Adjust the margin as needed */
    margin-bottom: 10px;
    height:50px;
    width: 50px;
    background-color: white;
    border: black 2px solid;
}

.team2guess5-1,
.team2guess5-2,
.team2guess5-3,
.team2guess5-4,
.team2guess5-5 {
    display: inline-block;
    margin-right: 10px; /* Adjust the margin as needed */
    margin-bottom: 10px;
    height:50px;
    width: 50px;
    background-color: white;
    border: black 2px solid;
}

.team2guess6-1,
.team2guess6-2,
.team2guess6-3,
.team2guess6-4,
.team2guess6-5 {
    display: inline-block;
    margin-right: 10px; /* Adjust the margin as needed */
    margin-bottom: 10px;
    height:50px;
    width: 50px;
    background-color: white;
    border: black 2px solid;
    
}
